# tutorial

## Environment Preparation
### create Python environment
`conda create -n bulk2space python=3.8`
### activate environment
`conda activate bulk2space`
### install pytorch
   
Here is an example with CUDA11.0  
`pip install torch==1.7.0+cu110 -f https://download.pytorch.org/whl/torch_stable.html`
### install other requirements
`pip install -r requirements.txt`

### install bulk2space
`python setup.py build`

`python setup.py install`

## 函数示例？

In [1]:
from bulk2space import Bulk2Space
model = Bulk2Space()

train vae and generate data

写一下功能与输入参数，具体的见源代码

Bulk2space.train_vae_and_generate

In [2]:
generate_sc_meta, generate_sc_data = model.train_vae_and_generate(input_bulk_path='data/example_data/demo1/demo1_bulk.csv',
                             input_sc_data_path='data/example_data/demo1/demo1_sc_data.csv',
                             input_sc_meta_path='data/example_data/demo1/demo1_sc_meta.csv',
                             input_st_data_path='data/example_data/demo1/demo1_st_data.csv',
                             input_st_meta_path='data/example_data/demo1/demo1_st_meta.csv',
                             epoch_num=20)

loading data......
load data done!
begin vae training...

Train Epoch: 19: 100%|██████████| 20/20 [00:00<00:00, 43.94it/s, loss=0.5183, min_loss=0.5183]

min loss = 0.5182622671127319
vae training done!

generating: 100%|██████████| 249/249.0 [00:00<00:00, 16390.94it/s]

save trained vae in save_model/vae.pth.
generating....
generated done!

saving to output/output_celltype_pred.csv and output/output_data_pred.csv.

In [3]:
generate_sc_meta

      Cell       Cell_type
0      C_1        Monocyte
1      C_2        Monocyte
2      C_3        Monocyte
3      C_4          T cell
4      C_5          T cell
..     ...             ...
244  C_245  Dendritic cell
245  C_246  Dendritic cell
246  C_247  Dendritic cell
247  C_248  Dendritic cell
248  C_249  Dendritic cell

[249 rows x 2 columns]

In [4]:
generate_sc_data

,C_1,C_2,C_3,C_4,C_5,C_6,C_7,C_8,C_9,C_10,...,C_240,C_241,C_242,C_243,C_244,C_245,C_246,C_247,C_248,C_249
EIF2S2,0.888762,0.885251,0.985504,0.796533,0.917096,0.992609,0.940702,1.023242,0.936732,1.074308,...,0.949748,0.794917,0.900585,0.900581,0.750936,0.860539,0.813740,0.762914,0.923152,1.032812
CD9,0.490339,0.349360,0.519649,0.496375,0.429140,0.405551,0.558941,0.499805,0.451186,0.611787,...,0.569432,0.437462,0.528041,0.504906,0.473968,0.537758,0.418807,0.463143,0.467259,0.430391
SNORD99,0.189078,0.089045,0.145219,0.228584,0.214738,0.160961,0.181497,0.164354,0.195122,0.170334,...,0.185724,0.144707,0.283288,0.160283,0.275715,0.197461,0.187480,0.189566,0.207272,0.294939
EIF3H,1.244349,1.164464,1.317751,1.124484,1.213485,1.315076,1.215607,1.341474,1.259147,1.579216,...,1.373304,1.062619,1.345816,1.295234,1.143512,1.261861,1.194163,1.096988,1.348956,1.456828
CSRNP1,0.062389,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.004955,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SNRK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CZIB,0.000000,0.056843,0.000000,0.000000,0.019840,0.000000,0.000000,0.025945,0.008099,0.060930,...,0.025222,0.000000,0.000000,0.011714,0.042695,0.000000,0.000000,0.050217,0.045171,0.019158
BCL2L1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MINK1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CRK,0.000000,0.026735,0.084284,0.000000,0.150019,0.159429,0.164573,0.091552,0.067957,0.068067,...,0.071037,0.096650,0.022001,0.165197,0.103594,0.050071,0.192397,0.168497,0.184274,0.105160

load vae and generate data

Bulk2Space.load_vae_and_generate

In [5]:
generate_sc_meta, generate_sc_data = model.load_vae_and_generate(
    input_bulk_path='data/example_data/demo1/demo1_bulk.csv',
    input_sc_data_path='data/example_data/demo1/demo1_sc_data.csv',
    input_sc_meta_path='data/example_data/demo1/demo1_sc_meta.csv',
    input_st_data_path='data/example_data/demo1/demo1_st_data.csv',
    input_st_meta_path='data/example_data/demo1/demo1_st_meta.csv',
    vae_load_dir='save_model/vae.pth')

loading data......
load data done!
loading model from save_model/vae.pth

generating: 100%|██████████| 249/249.0 [00:00<00:00, 15478.74it/s]

generating....
generated done!

saving to output/generation_celltype_pred.csv and output/generation_data_pred.csv.
generating done!

In [6]:
generate_sc_meta

      Cell       Cell_type
0      C_1          T cell
1      C_2        Monocyte
2      C_3        Monocyte
3      C_4        Monocyte
4      C_5          T cell
..     ...             ...
244  C_245  Dendritic cell
245  C_246  Dendritic cell
246  C_247  Dendritic cell
247  C_248  Dendritic cell
248  C_249  Dendritic cell

[249 rows x 2 columns]

In [7]:
generate_sc_data

,C_1,C_2,C_3,C_4,C_5,C_6,C_7,C_8,C_9,C_10,...,C_240,C_241,C_242,C_243,C_244,C_245,C_246,C_247,C_248,C_249
EIF2S2,0.880368,0.781971,0.873172,0.916587,0.894945,1.050501,0.818440,0.619083,0.941577,0.879621,...,0.750553,1.029560,0.883513,0.777177,0.930410,0.799883,0.885873,0.787805,1.034772,1.031200
CD9,0.417365,0.347050,0.432423,0.506355,0.493887,0.519022,0.494632,0.393218,0.474295,0.398562,...,0.310465,0.496734,0.492785,0.515806,0.448497,0.362601,0.468509,0.490819,0.519188,0.542218
SNORD99,0.169306,0.142814,0.156277,0.134726,0.059750,0.261433,0.264844,0.148198,0.247806,0.156037,...,0.166414,0.147983,0.223697,0.152469,0.244167,0.161862,0.145940,0.135952,0.155244,0.167011
EIF3H,1.142212,1.038294,1.317911,1.160240,1.208470,1.405193,1.166606,0.845549,1.300898,1.189206,...,0.971765,1.282281,1.220085,1.218702,1.153296,1.167823,1.226374,1.169635,1.302051,1.331764
CSRNP1,0.000000,0.000000,0.051197,0.000000,0.000000,0.000000,0.046487,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.090440,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SNRK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CZIB,0.000000,0.000000,0.000000,0.020784,0.001065,0.022941,0.000000,0.063809,0.099482,0.061972,...,0.000000,0.015497,0.035828,0.058998,0.039283,0.084008,0.000000,0.000000,0.087082,0.049678
BCL2L1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MINK1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CRK,0.097866,0.075140,0.168715,0.067518,0.147472,0.085360,0.057319,0.025163,0.120237,0.139403,...,0.098294,0.074630,0.143453,0.045743,0.062048,0.062532,0.104424,0.090701,0.000000,0.125263

train deep-forest and do spatial deconvolution

Bulk2space.train_df_and_spatial_deconvolution

In [8]:
df_meta, df_spot = model.train_df_and_spatial_deconvolution(generate_sc_meta,
                                          generate_sc_data,
                                          input_st_data_path='data/example_data/demo1/demo1_st_data.csv',
                                          input_st_meta_path='data/example_data/demo1/demo1_st_meta.csv',
                                          spot_num=500,
                                          cell_num=10)

sucessfully create positive data
sucessfully create negative data
select top 500 marker genes of each cell type...
df training....
df training done!
saving model to save_model/df
Calculating scores...
Calculating scores done.
saving result to output/meta_deconvolution_10.csv and output/data_deconvolution_10.csv

In [9]:
df_meta

,Cell,Cell_type,Spot,Spot_xcoord,Spot_ycoord,Cell_xcoord,Cell_ycoord
0,C_1,T cell,spot_1,1,1,1.01,0.96
1,C_2,T cell,spot_1,1,1,0.61,1.00
2,C_3,T cell,spot_1,1,1,0.96,0.97
3,C_4,T cell,spot_1,1,1,0.98,0.96
4,C_5,T cell,spot_1,1,1,0.99,0.77
...,...,...,...,...,...,...,...
295,C_296,B cell,spot_30,6,5,5.95,5.01
296,C_297,T cell,spot_30,6,5,6.11,4.92
297,C_298,T cell,spot_30,6,5,5.75,4.95
298,C_299,T cell,spot_30,6,5,5.90,5.03
299,C_300,B cell,spot_30,6,5,6.00,5.28

In [10]:
df_spot

,C_1,C_2,C_3,C_4,C_5,C_6,C_7,C_8,C_9,C_10,...,C_291,C_292,C_293,C_294,C_295,C_296,C_297,C_298,C_299,C_300
EIF2S2,0.803476,0.660121,0.717456,0.970529,0.682864,0.674242,0.885110,0.840587,0.629082,0.904290,...,0.702081,0.660121,0.717456,0.682864,0.785839,0.758513,0.629082,0.904290,0.750413,0.752426
CD9,0.335977,0.451769,0.354558,0.421872,0.378415,0.409097,0.347466,0.406432,0.322524,0.521702,...,0.484017,0.451769,0.354558,0.378415,0.358869,0.386067,0.322524,0.521702,0.339180,0.498686
SNORD99,0.127148,0.132022,0.158993,0.174463,0.160012,0.135404,0.079794,0.232556,0.108989,0.230018,...,0.146479,0.132022,0.158993,0.160012,0.125623,0.191473,0.108989,0.230018,0.194450,0.124967
EIF3H,1.093331,0.951291,1.044228,1.337382,0.949207,0.976431,1.193252,1.145328,0.922629,1.226578,...,0.961376,0.951291,1.044228,0.949207,1.079373,1.104268,0.922629,1.226578,1.107602,1.058859
CSRNP1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SNRK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CZIB,0.039042,0.000000,0.069957,0.000000,0.000000,0.000000,0.000000,0.035844,0.063699,0.000000,...,0.004696,0.000000,0.069957,0.000000,0.000000,0.111748,0.063699,0.000000,0.000000,0.000000
BCL2L1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MINK1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CRK,0.091218,0.064699,0.062300,0.118344,0.122495,0.129843,0.013100,0.096134,0.070107,0.079791,...,0.140055,0.064699,0.062300,0.122495,0.083981,0.131617,0.070107,0.079791,0.126194,0.091910

load deep-forest and do spatioal deconvolution

Bulk2Space.load_df_and_spatial_deconvolution

In [11]:
df_meta, df_spot = model.load_df_and_spatial_deconvolution(generate_sc_meta,
                                                           generate_sc_data,
                                                           input_st_data_path='data/example_data/demo1/demo1_st_data.csv',
                                                           input_st_meta_path='data/example_data/demo1/demo1_st_meta.csv',
                                                           spot_num=500,
                                                           cell_num=10,
                                                           df_load_dir='save_model/df')

sucessfully create positive data
sucessfully create negative data
select top 500 marker genes of each cell type...
loading model from save_model/df
Calculating scores...
Calculating scores done.
saving result to output/meta_deconvolution_10.csv and output/data_deconvolution_10.csv

Bulk2Space.spatial_deconvolution

In [12]:
generate_sc_meta, generate_sc_data = model.train_vae_and_generate(
    input_bulk_path='data/example_data/demo2/demo2_bulk.csv',
    input_sc_data_path='data/example_data/demo2/demo2_sc_data.csv',
    input_sc_meta_path='data/example_data/demo2/demo2_sc_meta.csv',
    input_st_data_path='data/example_data/demo2/demo2_st_data.csv',
    input_st_meta_path='data/example_data/demo2/demo2_st_meta.csv',
    epoch_num=20)
df_meta, df_spot = model.spatial_deconvolution(generate_sc_meta,
                                               generate_sc_data,
                                               input_st_data_path='data/example_data/demo2/demo2_st_data.csv',
                                               input_st_meta_path='data/example_data/demo2/demo2_st_meta.csv')

loading data......
load data done!

  0%|          | 0/20 [00:00<?, ?it/s]

begin vae training...

Train Epoch: 19: 100%|██████████| 20/20 [00:00<00:00, 25.21it/s, loss=0.2101, min_loss=0.2101]

min loss = 0.21007101237773895
vae training done!

generating: 100%|██████████| 999/999.0 [00:00<00:00, 30056.88it/s]

save trained vae in save_model/vae.pth.
generating....
generated done!

saving to output/output_celltype_pred.csv and output/output_data_pred.csv.
start to process MERFISH-like st data...
saving to output/meta_map.csv and output/data_map.csv